/*General*/
html{
    font-size: 62.5%;
    background-color: var(--background);
    word-wrap: break-word;
    width: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

/*Body*/
/* Options */

.principal-content{
    min-height: 100vh;
    height: 90vh;
}

.options{
    height: 10vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.switch{
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch:active{
    background-color: var(--secundary-blue);
    color: #000;
}

.active{
    background-color: var(--secundary-blue);
    color: #000;
}

.active::after{
    right: 0;
    left: unset;
}

.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color:#fff
}


.switch span img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Menu*/

.menu{
    width: 10vw;
    min-width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;

    background-image: linear-gradient(to bottom, var(--secundary-blue), #4d4dff);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.menu p{
    color: white;
}

.menu .tittle{
    font-size: 2.8rem;
    padding-top: 20px;
}

.menu .year{
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.menu a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.menu .menu-icon{
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 10px;
    
}

/*Main*/

main{
    padding-left: 10%;
    min-height: 100vh;
    width: 99vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*Welcome*/

main .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;

}

.welcome-content{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .welcome h1{
    font-size: 7rem;
}

main .welcome h2{
    font-size: 7rem;
    color: var(--secundary-blue);
}

main .welcome p{
    width: 400px;
    font-size: 2rem;
}

main .welcome a{
    text-decoration: none;
    color: var(--text-color);
    width: 250px;
}

main .welcome figure {
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
    width: 300px;

    align-items: center;
}

main .welcome figure figcaption{
    padding-left: 15px;
    color: var(--text-color);
    font-size: 1.8rem;
}

main .welcome figure figcaption a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.8rem;
}

main .welcome figure img{
    width: 42px;
    height: 42px;
}

/*Skills*/
.skills{
    padding-top: 260px;
    padding-bottom: 260px;

    min-height: 100vh;

}

.skills h1{
    font-size: 5rem;
    color: var(--secundary-blue);
    text-align: center;
}

.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    opacity: 1;
    transition: opacity 0.3s ease;
}

figure:hover img {
    opacity: 0.7;
}

.skills img{
    width: 54px;
    height: 54px;

    margin-left: 50px;
}

.skills figure{
    display: flex;
    align-items: center;
}

.skills figcaption{
    margin-right: 40px;
    margin-left: 40px;

    font-weight: bold;
    font-size: 1.8rem;
}

.skills .skills-first{
    display: flex;
    padding: 15px;
}

.skills .skills-second{
    display: flex;
    padding: 15px;
}

.skills .skills-third{
    padding: 15px;
}

/*Projects*/

.projects{
    padding-top: 75px;
    padding-bottom: 75px;
    min-height: 100vh;
}

.projects h1{
    font-size: 5rem;
    color: var(--secundary-blue);
    text-align: center;
}

.projects .project-container{
    padding: 25px;
    padding-top: 35px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    width: 1000px;
}

.project-container-skills{
    display: flex;
    flex-direction: column;
}

.project-skills{
    padding-left: 25px;
    display: flex;
    align-items: center;
}

.tech-logo{
    box-shadow: none;
    margin: 15px;
    width: 32px;
    height: 32px;
}

.projects .project-container img{
    height: 300px;
    width: 620px;
    box-shadow: 0px 0px 10px gray;
}

.project-skills p{
    font-size: 24px;
    color: var(--secundary);
    font-weight: bold;
}

.projects .project-container figcaption{
    padding-left: 40px;
    width: 340px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects .project-container figcaption h2{
    font-weight: bold;
    font-size: 3rem;
}

.projects .project-container figcaption p{
    height: 150px;
    font-size: 1.8rem;
}

.projects .project-container figcaption .links-container{
    width: 340px;
    height: 72px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.projects .project-container figcaption a img{
    width: 32px;
    height: 32px;
    box-shadow: none;
}

