.menu{
    display: none;
}

main{
    width: 100vw;
    padding-left: 0;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects .project-container figcaption{
    padding-left: 0px;
}

.skills figcaption{
    width: 100%;
    padding-left: 0;
}

.projects .project-container{
    flex-direction: column;
    align-items: flex-start;
    width: auto;
}

.projects .project-container figcaption .links-container{
    justify-content: flex-start;
    padding: 0;
}

.projects .project-container figcaption p{
    font-size: 1.8rem;
    height: auto;
}

.projects .project-container figcaption{
    height: auto;
}

.projects .project-container img{
    height: 300px;
    width: 100%;
}

.project-skills{
    align-items:flex-start;
}

.tech-logo{
    margin: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}